linkage, GlobalNearestNeighbor
externalSegmentation, OneWayContraction
externalSegmentation, OneWayContraction_Modified
externalSegmentation, OneWayContraction_Exclusion
externalSegmentation, MinimalBoundary
internalSegmentation, TriangleMethod
internalSegmentation, RestrictedTriangleMethod
internalSegmentation, OtsuMethod
internalSegmentation, RestrictedOtsuMethod
internalSegmentation, CenterPointID
analysisMethod, InternalAnalysis
analysisMethod, ExternalAnalysis
analysisMethod, SegmentationComparer
analysisMethod, ChannelMerger
analysisMethod, Interactions
analysisMethod, ExteriorExtraction
analysisMethod, PrincipleComponents